.logo-h1 {
    font-family: 'Roboto', serif;
    font-size: 2em;
    color: rgb(104,187, 179);
    margin-bottom: 0.2rem;
    margin-left: 0.3rem;
}

.logo-h2 {
    font-family: 'Antic Didone', serif;
    font-size: 1.5em;
    color: #E2E07E;
    margin-bottom: 0.2rem;
    margin-left: 0.3rem;
}

@media (min-width: 550px) {
  .logo-h1 { font-size: 3em; }
  .logo-h2 { font-size: 2em; }
}
