.logo {
    font-family: 'Antic Didone', serif;
    float: left;
    font-size: 3em;
    /*color: rgb(41, 56, 75);*/
    background-image: url(website_logo.svg);
    /*background-image: url(brightcon_logo_2021.svg);*/
    background-repeat: no-repeat;
    background-size: auto auto;
    width: 14rem;
    height: 18rem;
    /*margin: 0 2.5rem 0 0;*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-h1 {
    font-family: 'Antic Didone', serif;
    font-size: 2em;
    color: #C6E8EA;
    margin-bottom: 0.2rem;
    margin-left: 0.3rem;
}

.logo-h2 {
    font-family: 'Antic Didone', serif;
    font-size: 1.5em;
    color: #E2E07E;
    margin-bottom: 0.2rem;
    margin-left: 0.3rem;
}

@media (min-width: 550px) {
  .logo-h1 { font-size: 3em; }
  .logo-h2 { font-size: 2em; }
}

