.navbar-list {
    list-style: none;
    margin-bottom: 0;
}

.navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0;
}

.navbar-link {
    /*text-transform: uppercase;*/
    /*font-size: 11px;*/
    /*font-weight: 600;*/
    /*letter-spacing: .2rem;*/
    margin-right: 35px;
    text-decoration: none;
    /*line-height: 6.5rem;*/
    /*color: #222;*/
}

.caption {
  font-size: 0.75em;
  margin: 0.2em;
}
